@{
    ViewData["Title"] = "Error 404";
}

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error 404 - Página não encontrada!</h1>
            <p>
                A página que você tentou navegar não existe! 
                <br />
                <br />
                <a asp-action="Index" asp-controller="Home" class="btn btn-info"> Volte a navegar</a>
            </p>
        </div>
        <div class="col-4">
            <img src="~/img/Error404.jpg" width="300" height="300" alt="Imagem que representa erro de página não encontrada."/>
        </div>
    </div>
</div>

