
@{
    ViewData["Title"] = "Error 503";
}

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 503 - Servidor indisponível</h1>
            <br />
            <p>
                Opps! Volte mais tarde, nossos servidores não podem te atender no momento!
            </p>
        </div>
        <div class="col-4">
            <img src="~/img/Error503.jpg" style="width:100%" alt="Imagem de erro nos servidores." />
        </div>
    </div>
</div>

