
@{
    ViewData["Title"] = "Error 403";
}

<h1>Error 403</h1>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Error 403</h1>
            <br />
            <p>
                @ViewBag.Mensagem
            </p>
        </div>
    </div>
</div>

